.border_solid {
  border: 1px solid black;
  background-color: lightblue;
}

.logo {
  /* width: 500px; */
  /* height: 50px; */
}

.text_center {
  text-align: center;
}

.chatbox_user {
  /* display: flex; */
  /* flex-direction: row-reverse; */
}

.chatbox_llm {
  /* display: flex; */
  /* flex-direction: row; */
}

.tree_map {
  height: 400px;
}
